body {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: white;
  margin: 20px 10px;
  background-image: url('assets/images/ClearwaterBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#logo {
  width: 350px
}

#board {
  margin: auto;
  margin-top: 20px;
  max-width: 1136px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  min-width: 90px;
  padding: 10px;
  margin: 2px;
  border-bottom: 3px solid #ccc;
  background: #0006;
  backdrop-filter: blur(2px);
  font-size: 14px;
}

.row:first-child .cell {
  font-weight: bold;
  background-color: #e0e0e0;
  color: #242424;
  text-transform: uppercase;
  border: 0;
}

.autocomplete-container {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

#guess-input {
  font-family: 'Oswald', sans-serif;
  color: white;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(transparent, #0000001f);
  height: 30px;
  border: none;
  border-bottom: 2px solid #FD4040;
}

#suggestions {
  position: absolute;
  top: 105%;
  left: 0;
  right: 0;

  background: #2c2c2c;
  color: white;

  list-style: none;
  margin: 0;
  padding: 0;

  max-height: 200px;
  overflow-y: auto;

  z-index: 1000;
}

#suggestions li {
  padding: 8px;
  cursor: pointer;
  text-align: left;
}

#suggestions li:hover {
  background: #424242;
}

.incorrect { border-bottom: solid 3px  #f44336; }
.correct { border-bottom: solid 3px  #4caf50; }
.higher { border-bottom: solid 3px #ffeb3b; }
.lower { border-bottom: solid 3px #ff685d; }
